In [1]:
import gdown


file_id = '1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO'  # Make sure it's a string
gdown.download(f'https://drive.google.com/uc?id={file_id}', 'data.csv', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO
To: c:\Users\ncc89\Desktop\Class_Task\data.csv
100%|██████████| 52.0k/52.0k [00:00<00:00, 402kB/s]

'data.csv'

In [2]:
import pandas as pd
import numpy as np
import scipy as stats

In [3]:
# Read the doenloaded CSV file
df = pd.read_csv('data.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

#### Question: Is the beef consumption in Argentina significantly different from that in Bangladesh?

H₀: Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)

H₁: Mean beef consumption (Argentina) ≠ Mean beef consumption (Bangladesh)

In [4]:
# selct argentina beef consumption
arg_beef = df[(df["country"]== 'Argentina') & (df["food_category"]== 'beef')]
arg_beef

   Unnamed: 0    country food_category  consumption  co2_emission
2           3  Argentina          beef        55.48        1712.0

In [5]:
arg_consump =arg_beef['consumption']
arg_consump

2    55.48
Name: consumption, dtype: float64

In [6]:
arg_consump_mean = arg_consump.mean()
arg_consump_mean
print("Mean Beef Consumption (Argentina):", arg_consump_mean)

Mean Beef Consumption (Argentina): 55.48

In [7]:
# select bangladesh beef consumption
bang_beef = df[(df['country']== 'Bangladesh') & (df['food_category']== 'beef')]
bang_beef

      Unnamed: 0     country food_category  consumption  co2_emission
1421        1422  Bangladesh          beef         1.28          39.5

In [8]:
bang_consump = bang_beef['consumption']
bang_consump

1421    1.28
Name: consumption, dtype: float64

In [9]:
bang_consump_mean = bang_consump.mean()
bang_consump_mean
print("Mean Beef Consumption (Bangladesh):", bang_consump_mean)

Mean Beef Consumption (Bangladesh): 1.28

In [16]:
print(f"Argentina beef consumption: {arg_consump_mean} kg/person/year")
print(f"Bangladesh beef consumption: {bang_consump_mean} kg/person/year")
print(f"Difference: {arg_consump_mean - bang_consump_mean:.2f} kg/person/year")

Argentina beef consumption: 55.48 kg/person/year
Bangladesh beef consumption: 1.28 kg/person/year
Difference: 54.20 kg/person/year

In [20]:
# Two-sample test
from scipy.stats import ttest_1samp
t_stat,p_val =ttest_1samp(arg_consump, bang_consump)
print(f"T-Statistics: {t_stat}")
print(f"P-value: {p_val}")


# Interpretation
if p_val < 0.05:
    print("We fail to reject Null hypothesis, Mean beef consumption in Argentina is equal to the Mean beef consumption in Bangladesh ")

else:
    print("We reject the Null hypothesis,Mean beef consumption in Argentina is significantly different from the mean beef consumption in Bangladesh")

T-Statistics: nan
P-value: nan
We reject the Null hypothesis,Mean beef consumption in Argentina is significantly different from the mean beef consumption in Bangladesh